html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.direction {
  font-size: 2.6rem;
}

.quiz {
  font-family: 'Forum', serif;
  font-size: 2.8rem;
  font-weight: 900;
}
