$loader-background-color: #2196f3;
$loader-text-color: #2196f3;

$main-background-color: #f4f4f4;
$main-text-color: #2196f3;

$link-background-color: #2196f3;
$hover-link-background-color: #1e88e5;
$active-link-background-color: #1e88e5;
$inactive-link-text-color: #ffffffb3;
$hover-link-text-color: #ffffff;
$active-link-text-color: #ffffff;

$settings-background-color: #2196f3;
$settings-icon-background-color: #ffffff;
$settings-text-background-color: #ffffff;
$settings-checkbox-background-color: #ffffff;
$settings-track-background-color: #ffffff;
$settings-check-background-color: #0075ff;
$settings-thumb-background-color: #0075ff;

$error-background-color: #2196f3;
$error-text-color: #ffffff;
