$loader-background-color: #9431c4;
$loader-text-color: #f8b585;

$main-background-color: #ececec;
$main-text-color: #f78e5b;

$link-background-color: #f8b585;
$hover-link-background-color: #f78e5b;
$active-link-background-color: #f78e5b;
$inactive-link-text-color: #ffffffb3;
$hover-link-text-color: #ffffff;
$active-link-text-color: #ffffff;

$border-color: #f78e5b;
