#app-picture-page {
  @include alignment(center, center, row, wrap);
  row-gap: 20px;
  column-gap: 20px;
  width: 100%;
  max-width: 860px;
  margin: 50px auto;

  .picture-container-quiz {
    position: relative;
    @include alignment(center, center, row, wrap);
    width: 200px;
    height: 200px;
    animation: load-router $load-router-time $load-router-animate;

    .picture-link-quiz {
      opacity: 0.7;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: $container-shadow;
      background-color: $container-background-color;
      transform: scale(1);
      @extend %transition;

      &:hover {
        opacity: 1;
        box-shadow: $container-hover-shadow;
        transform: scale(1.05);

        .picture-image-quiz {
          transform: scale(0.95);
        }

        ~ .picture-description-quiz {
          .picture-category-quiz {
            transform: translate(40px, 15px) scale(1.2);
          }

          .picture-score-quiz {
            transform: translate(-40px, -15px) scale(1.2);
          }
        }
      }

      .picture-image-quiz {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transform: scale(1.2);
        @extend %transition;
      }
    }

    .picture-description-quiz {
      @include alignment(space-between, center, column, nowrap);
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      color: $category-text-color;
      pointer-events: none;

      .picture-category-quiz,
      .picture-score-quiz {
        width: 100%;
        @extend %transition;
      }

      .picture-category-quiz {
        text-align: left;
        transform: translate(10px, 5px);
      }

      .picture-score-quiz {
        text-align: right;
        transform: translate(-10px, -5px);
      }
    }
  }
}
