#app-quiz-page {
  @include alignment(center, center, row, wrap);
  row-gap: 20px;
  column-gap: 40px;
  width: 100%;

  .artist-quiz,
  .picture-quiz {
    @include alignment(center, center, column, nowrap);
    row-gap: 10px;

    .artist-link-quiz,
    .picture-link-quiz {
      width: 250px;
      height: 250px;
      opacity: 0.7;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: $container-shadow;
      background-color: $container-background-color;
      transform: scale(1);
      @extend %transition;

      &:hover {
        opacity: 1;
        box-shadow: $container-hover-shadow;
        transform: scale(1.05);

        .category-image-quiz {
          transform: scale(0.95);
        }
      }

      .category-image-quiz {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transform: scale(1.2);
        @extend %transition;
      }
    }

    .direction-quiz {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      color: $main-text-color;
      font-weight: 600;

      .text-quiz {
        font-family: 'Forum', serif;
        font-weight: 900;
      }
    }
  }
}
