#app-quiz-page {
  @include alignment(center, center, row, wrap);
  row-gap: 40px;
  column-gap: 40px;
  width: 100%;

  .artist-quiz,
  .picture-quiz {
    @include alignment(center, center, column, nowrap);
    row-gap: 20px;

    .artist-link-quiz,
    .picture-link-quiz {
      transform: scale(1);
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.24);
      @extend %transition;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.24);
      }

      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .direction-quiz {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      color: $main-text-color;
      font-weight: 600;

      .text-quiz {
        font-family: 'Forum', serif;
        font-weight: 900;
      }
    }
  }
}
